<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}"  media="all">
    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        {% comment %}   <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>{% endcomment %}
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="confirm">确认</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cancel">取消</a>
</script>


<script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>



    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'{% url 'getChooseSubject' %}'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '学生选课数据表'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'subjectID', title:'课程编号', width:120, sort:true}
                ,{field:'subjectName', title:'课程名称', width:120}
                ,{field:'isChoose', title:'是否选课', width:120}
                {% comment %}      ,{field:'email', title:'邮箱', width:150, edit: 'text', templet: function(res){
                        return '<em>'+ res.email +'</em>'
                      }}{% endcomment %}
                ,{fixed: 'right', title:'选课操作', toolbar: '#barDemo', width:150}
            ]]
            ,id: 'testReload'
            ,page: true

        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            var subjectID = data.subjectID;

            //console.log(obj)
            if(obj.event === 'confirm'){
                {% comment %}                layer.confirm('是否确认选课？', function(index){
                     obj.del();
                     layer.close(index);
                 });{% endcomment %}
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                });
                $.ajax({
                    url:"{% url 'confirmSubject' %}",
                    type:"post",
                    data:{"subjectID":subjectID},
                    success:function () {
                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        }, 'data');

                    }
                })


            } else if(obj.event === 'cancel'){
                {% comment %}                layer.confirm('是否取消选课？', function(index){
                                    obj.del();
                                    layer.close(index);
                                });{% endcomment %}
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                });
                $.ajax({
                    url:"{% url 'cancelSubject' %}",
                    type:"post",
                    data:{"subjectID":subjectID},
                    success:function () {
                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        }, 'data');

                    }
                })

            }
        });
    });


</script>





</body>
</html>